@page
@model Shop.Pages.Admin.Shipper.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shippers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.shipperID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.shipperID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.shipperID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
